.plant-choise {
  width: 100%;
}
.plant-choise .ant-select-selector {
  width: 100%;
  height: 45px !important;
}
.plant-time .ant-select-arrow {
    margin-right: 25px 
}


.plant-dete > div {
  display: flex;
}
.ant-select-selector {
  height: 49px !important;
  margin-left: 5px !important;
  padding: 0 39px !important;
}
.ant-select-selection-item {
  padding-top: 8px !important;
}
.ant-select-selection-placeholder {
  margin: 9px !important;
}