@charset "utf-8";

@import url("./style/reset.css");
@import url("./style/font.css");

/* CSS 기본 설정 */
* {
  outline: none;
}
html,
body {
  min-width: 320px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 10px;
  letter-spacing: -0.6px;
  line-height: 1;
  overflow-x: hidden;
  background: #f9f9f7;
  color: #253528;
}
a {
  color: #253528;
  text-decoration: none;
}
button {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1rem;
  letter-spacing: -0.6px;
  line-height: 1;
  padding: 0;
  border: 0;
  background: none;
  cursor: pointer;
}
